@import '../../../node_modules/office-ui-fabric-react/dist/sass/variables/_Color.Variables.scss';

$color-brand: #5c2d91;
$color-brand-darker: darken($color-brand, 20%);
$color-brand-lighter: lighten($color-brand, 20%);

$color-neutrual: #555;
$color-neutrual-darker: darken($color-neutrual, 20%);
$color-neutrual-darkest: #000;
$color-neutrual-lighter: lighten($color-neutrual, 20%);
$color-neutrual-lightest: lighten($color-neutrual, 40%);

$color-black: #000;
$color-white: #fff;
