@import '../../Styles/_variables';

.DetailCallout-header {
  padding: 1rem;
  font-size: $ms-font-size-xl;
  font-weight: $ms-font-weight-semilight;
  word-wrap: break-word;
}

.DetailCallout-body {
  padding: 0 1rem 1rem;
}
