@import '../../Styles/_variables/_colors.scss';

.GridItem {
  border: 1px solid transparent;
  display: block;
  height: inherit;
  padding: 0;
  position: relative;
  width: inherit;
  background: none;
  &:hover,
  &:focus {
    border-color: $ms-color-themePrimary;
    background: none;
  }
}

.GridItem-image {
  padding: 20%;
}
