.DetailPane-header {
  word-wrap: break-word;
}

.DetailPane-image {
  max-height: 200px;
  max-width: 200px;
}

.DetailPane-downloadsList {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.DetailPane-downloadsListItem {
  margin-right: 16px;
}
