@import '../../Styles/_variables/_colors';

.Header {
  a {
    &,
    &:visited,
    &:hover {
      color: $color-white;
    }
    &:hover {
      font-weight: 600;
    }
  }
}

.Header-logo {
  width: 2rem;
  height: 2rem;
}
