@import '../../Styles/_variables/_colors.scss';

.Gallery {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  left: 0;
  padding: 2rem;
}

.Gallery-header {
  flex-shrink: 0;
}

.Gallery-body {
  overflow-y: auto;
  *[role="listitem"] {
    float: left;
  }
}

.Gallery-detailPane-footer {
  margin-top: 2rem;
}
