@import '../../Styles/_variables/_colors.scss';
@import '../../Styles/_utilities.scss';
@import '../../Styles/_variables/_responsive.scss';

.Gallery-header {
  padding: 1rem 0;
  background-color: $ms-color-white;
  display: flex;
  align-items: center;
}

.Gallery-SearchBox {
  width: 100%;

  @media screen and (min-width: $ms-screen-min-md) {
    width: 320px;
  }
}

.Gallery-body {
  *[role="listitem"] {
    float: left;
  }
}

.Gallery-loadmore {
  width: 100%;
  padding: 2rem 0;

  &.hidden {
    display: none;
  }
}
