@import '../../Styles/_variables/_colors';
@import '../../Styles/_variables/_responsive';
@import '../../Styles/_mixins';
@import '../../Styles/_variables/_zindex';

.MenuItem {
  cursor: pointer;
  position: relative;

  // Divider for vertically stacked items on small screen
  @media screen and (max-width: $ms-screen-max-sm) {
    &:not(:last-child) {
      &::before {
        display: block;
        position: absolute;
        content: '';
        bottom: 0;
        height: inherit;
        width: 100%;
        border-bottom: 1px solid $ms-color-neutralLight;
      }
    }
  }

  // Label and button inside menu item
  a,
  button {
    display: block;
    width: 100%;
    padding: 1rem;
    background: none;
    border: none;
    text-align: left;
    position: relative;
    white-space: nowrap;
  }

  a {
    &,
    &:visited {
      color: $ms-color-neutralPrimary;
    }
  }

  @media screen and (min-width: $ms-screen-min-md) {
    width: auto;

    // Show thick underline on hover on big screen
    a,
    button {
      &::before {
        display: block;
        position: absolute;
        content: '';
        bottom: 12px;
        border-bottom: 2px solid $ms-color-neutralPrimary;
        width: 0;
      }
    }

    a {
      &:hover,
      &:active,
      &.active,
      &.active:hover {
        &::before {
          width: calc(100% - 2rem);
        }
      }
    }

    button {
      &:hover,
      &:active,
      &.active,
      &.active:hover {
        &::before {
          width: calc(100% - 3rem);
        }
      }
    }
  }
}

.Submenu {
  list-style: none;
  margin: 0;
  height: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  &.expanded {
    height: auto;
    max-height: none;
    opacity: 1;
  }

  @media screen and (min-width: $ms-screen-min-md) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: $z-index-top;
    padding: 0;
    background-color: $ms-color-neutralLighter;
  }

  .MenuItem {
    a,
    button {
      &::before {
        width: 0;
      }
    }
  }
}
