@import '../../Styles/_variables';
@import '../../Styles/_mixins';

.Page-header {
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Page-title {
  margin: 0;
  font-weight: 300;
}
