@mixin link-hover() {
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-weight: 600;
    transform: scale(1.05, 1.05);
  }

  &::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
