@import '../../Styles/_variables';
@import '../../Styles/_mixins';

.SiteNav {
  background-color: $ms-color-white;
  position: relative;
  align-items: center;
  font-size: 13px;
  height: 54px;

  @media screen and (min-width: $ms-screen-min-md) {
    display: flex;
    align-items: center;
    padding: 0 5%;
  }

  a {
    &,
    &:visited {
      color: $ms-color-neutralPrimary;
    }
  }

  .ms-Button {
    height: 100%;
    padding: 1rem;
    background: none;
  }
}

.SiteNav-Brand {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  @media screen and (max-width: $ms-screen-max-sm) {
    @include align-center;
  }
}

.MicrosoftLogo,
.D3AssetsLogo {
  display: block;
  margin-right: 24px;
  height: 24px;

  .SpriteImage {
    height: 100%;
    width: 100%;
  }
}

.MicrosoftLogo {
  width: 24px;
}

.D3AssetsLogo {
  width: 103px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-left: 2px solid $ms-color-neutralPrimary;
    height: 100%;
  }

  .SpriteImage {
    margin-left: 16px;
  }
}

.SiteNav-MobileButton {
  width: 48px;
  height: 48px;
  margin: 1px;

  .ms-Button-icon {
    font-size: 20px;
  }
}

// First level menu
.SiteNav-Menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  align-content: stretch;

  // Drawer style on small screen
  @media screen and (max-width: $ms-screen-max-sm) {
    // Use aria-expanded instead of ".expanded" class is better a11y practice
    &[aria-expanded=true] {
      display: flex;
      border-bottom: 2px solid $ms-color-neutralPrimary;
      background-color: $ms-color-neutralLighter;
    }
  }

  // Horizontal bar on big screen
  @media screen and (min-width: $ms-screen-min-md) {
    display: flex;
    flex-direction: row;
    overflow: visible;
    background-color: $ms-color-white;
  }
}

.SiteNav-MenuItem {
  background-color: $ms-color-neutralLighter;

  &:hover,
  &:focus-within {
    background-color: $ms-color-neutralLight;
  }

  @media screen and (min-width: $ms-screen-min-md) {
    background-color: $ms-color-white;

    &:not(:last-child) {
      margin-right: 1px;
    }
  }

  @media screen and (max-width: $ms-screen-max-sm) {
    &:not(:last-child) {
      border-bottom: 1px solid $ms-color-neutralQuaternaryAlt;
    }
  }

  .ms-Button {
    width: 100%;
    text-align: left;

    & > div {
      justify-content: left;
    }
  }
}
